:root {
  --cell-bg-color: rgb(141, 30, 135);
  --header-height: 90px;
  --footer-height: 200px;
  --padding: 1rem;
  --text-color: rgb(92, 19, 88);
  --dark-text-color: rgb(54, 8, 52);
}

.App {
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
}

.tictactoe-header {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  height: var(--header-height);
  margin: var(--margin);
  background: rgba( 255, 255, 255, 0.85 );
  box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  align-items: center;
  z-index: 3001px;
}


.tictactoe-title {
  font-size: 1.6rem;
  padding: 1rem;
  border-right: 1px solid rgb(97, 21, 93);
}

.tictactoe-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: var(--footer-height);
  display: flex;
  margin: var(--margin);
  padding: 2rem;
  justify-content: space-between;
}

.tictactoe-footer>div {
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tictactoe-game-info {
  min-width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--dark-text-color);
}

.tictactoe-statistics {
  padding: 2rem;
  box-shadow: 0 0 5px -3px #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: right;
  color: var(--dark-text-color);
}